body{background-color:#fff;}
.panel{background:#fff;}
form .form-group:last-child{padding-bottom:0;}
.passcode{position:absolute;right:0;top:0;height:32px;margin:1px;border-left:solid 1px #ddd;text-align:center;line-height:32px;border-radius:0 4px 4px 0;}


.lefter{ display:none;}
.righter{float:right;width:100%;padding-top:15px;background:#fff;}
.mainer{}

.logo{ height:30px;}

.admin-navbar{border-bottom:solid 5px #0c1737;padding:0 15px;}
.admin-nav li{display:inline-block;}
.admin-nav ul{display:none;}
.admin-nav ul li{float:none;display:block;}
.admin-nav ul ul li{list-style:circle;margin-left:15px;}
.admin-nav .active a{background:#0c1737;color:#fff;border-radius:0 0;}
.admin-nav .active ul{display:block;position:fixed;left:0;width:180px;margin-top:41px;}
.admin-nav .active ul a{background:transparent;color:#333;border-radius:0;}
.admin-nav .active .active a{background:#e6f2fb;border-top:solid 1px #b5cfd9;border-bottom:solid 1px #b5cfd9;}

.admin-bread{background:#fff;border-left:solid 1px #b5cfd9;border-bottom:solid 1px #b5cfd9;line-height:20px;}
.admin-bread .bread{margin-bottom:0;}
.admin-bread span{float:right;font-size:12px;color:#666;line-height:36px;}

.admin{padding:30px;background:#f9f9f9;border-left:solid 1px #b5cfd9;right:0;bottom:0;top:87px; overflow:auto; width:100%;}
.alert{margin-bottom:20px;}
.admin-panel td{line-height:24px;}
.admin-panel td .button{line-height:16px;}
.admin-panel .pagination .active{background:#fff;}

.btnThree {
    width:600px;
    margin:50px auto;
    

}
    .btnThree td {
        width:33.3%;
        text-align:center
    }
        .btnThree td a img {
            width:100px; height:100px; margin:20px auto;
        }
        .btnThree td h3 {
            text-align:center;
        }
.right5 {
} 